* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 1em;
    flex: 0 50px;
    font-size: 20px;
    background: hsl(181, 42%, 26%);
    color: white;
  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

main {
    flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

menu {
    flex-direction: row !important;
    font-size: 15px;
    display: flex;
    justify-content: start;
    gap: 3em;
    flex: 1;
    display: flex;
    list-style: none;
}

main {
    flex: 1;
    font-size: 30px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    flex: 0 50px;
    background: hsl(180, 30%, 15%);
    color: white;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }



  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }