* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 1em;
    flex: 0 50px;
    font-size: 20px;
    background: hsl(180, 30%, 30%);
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  background: hsl(224, 100%, 9%);
  height: fit-content;
  
}


.gridBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

img {
    width: 150%;
    height: 150%;
}



.table {
    width: 30em;
    height: 30em;
    background-color: transparent;
    border-color: transparent;
}


menu {
    flex-direction: row !important;
    font-size: 15px;
    display: flex;
    justify-content: start;
    gap: 3em;
    flex: 1;
    display: flex;
    list-style: none;
}

footer {
    flex: 0 50px;
    background: hsl(180, 30%, 30%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@media (max-height: 700px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}