* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}



.login-container {
    display: flex;
    background: hsl(224, 100%, 9%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to fill the entire viewport */
  }
  
  .login-form {
    max-width: 400px; /* Adjust the maximum width of the form */
    width: 100%;
    padding: 20px;
    background-color: #fff; /* Optional: Add a background color to the form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
  }
  